{% set indexLimit = 5 %}

{{ partial('_partial/main/hero') }}

{% if theme.home.posts == 'recommend' %}
  <h2 class="sea-index-title">
    {{ __('home.recommendedPosts') }}
  </h2>
  <div id="index-post-container" data-per-page="{{ theme.articles.per_page or 10 }}">
    {{ partial('_partial/post/post_list', {post_list: recommendedPosts.slice(0, indexLimit)}) }}
  </div>
{% elif theme.home.posts == 'recent' %}
  <h2 class="sea-index-title">
    {{ __('home.recentPosts') }}
  </h2>
  <div id="index-post-container" data-per-page="{{ theme.articles.per_page or 10 }}">
    {{ partial('_partial/post/post_list', {post_list: recentPosts.slice(0, indexLimit)}) }}
  </div>
{% else %}
{% endif %}

<div class="sea-index-all-posts">
  <a class="sea-index-all-posts__link sea-load-more-btn" href="{{ url_for(theme.articles.path) }}">
    {{ __('home.allPosts') or '显示全部' }}
    {{ partial('svg/arrow_right') }}
  </a>
</div>